#include "rcstuff.h"
#include "putty-rc.h"

#define APPNAME "Pterm"
#define APPDESC "Windows命令提示符的PuTTY样式包装器"

IDI_MAINICON ICON "pterm.ico"
IDI_CFGICON ICON "ptermcfg.ico"

#include "help.rc2"
#include "putty-common.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
